.u-section-1 .u-sheet-1 {
  min-height: 104px;
}.u-section-2 .u-sheet-1 {
  min-height: 354px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  width: 87px;
  margin: 101px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  width: 363px;
  margin: 24px auto 60px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 303px;
    margin-left: 317px;
  }

  .u-section-2 .u-text-2 {
    width: 394px;
    margin-top: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 227px;
    margin-right: 213px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 127px;
    margin-right: 113px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}